<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О проекте</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    {% include "header.html" %}
<div class="wrapper">
  <div class="">
    <div class="product-info">
      <h1>Проект...</h1>
      <hr>
      <div class="desc">
        Проект назван "Blood, sweat and tears". Понимаете, название говорящее... Полностью отражает содержание.
        <br><hr>
    1. Во-первых, идея проекта - его самая важная часть. Тут всё очень оригинально, думаю, возражений нет.<br>
    2. Далее, главная способность настоящих мастеров программирования - умение пользоваться всеми доступными ресурсами. Это мы освоили хорошо.<br>
    3. В-третьих, всё сделано по красоте.<br>
    4. Специально составленный плейлист для проверки, ссылка: https://vk.com/music/album/-2000154643_154643_dc4212495244ab3dff .<br>
    5. Надеюсь, вы оцените его по достоинству (100 баллов с макс коэффициентом)..!<br>
          <br>Приятного путешествия по разным кнопочкам этого замечательного ресурса! Благодаря предыдущим нашим проектам вы уже смогли стать феечкой. Теперь вы ещё и алхимик) Феечка-алхимик. Видимо, ведьма. Или ведьмак... На ваше усмотрение, короче говоря:)

 <br><hr>
      </div>
    </div>

  </div>
</div>


</div> <!-- product -->
</div> <!-- wrapper -->
<script src="/static/js/scripts.js"></script>
</body>
</html>