<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/css/style.css">
  <title>Магазин Алхимика</title>
</head>

<body>
    {% include "header.html" %}
  <div class="wrapper">

    <section>
      <div class="list">
        {% for item in data %}
        <div class="product">
          <img alt="product" src="{{ data[item]['photos']['main'] }}">
          <div>
            <h2>{{ data[item]['name'] }}</h2>
            <p class="price">{{ data[item]['prices']['rub'] }} ₽</p>
            <br>
            <a href="item/{{ item }}/">
              <p>ПОКАЗАТЬ</p>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>

    </section>
  </div>
</body>

</html>